In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Generate Probability Matrix

In [53]:
ratings = ['AAA','AA','A','BBB','BB','B','CCC','default']
transition= np.array([
    [90.81, 8.33, 0.68,0.06, 0.12, 0,0,0],
    [0.70,90.65,7.79,0.64,0.06,0.14,0.02,0],
    [0.09,2.27,91.05,5.52,0.74,0.26,0.01,0.06],
    [0.02,0.33,5.95,86.93,5.30,1.17,0.12,0.18],
    [0.03,0.14,0.67,7.73,80.53,8.84,1.00,1.06],
    [0,0.11,0.24,0.43,6.48,83.46,4.07,5.21],
    [0.22,0,0.22,1.30,2.38,11.24,64.86,19.78],
    [0,0,0,0,0,0,0,100]
]) / 100

print(sum(transition.transpose()))
transition_df = pd.DataFrame(transition, columns=ratings, index=ratings)
display(transition_df)

[1. 1. 1. 1. 1. 1. 1. 1.]

            AAA      AA       A     BBB      BB       B     CCC  default
AAA      0.9081  0.0833  0.0068  0.0006  0.0012  0.0000  0.0000   0.0000
AA       0.0070  0.9065  0.0779  0.0064  0.0006  0.0014  0.0002   0.0000
A        0.0009  0.0227  0.9105  0.0552  0.0074  0.0026  0.0001   0.0006
BBB      0.0002  0.0033  0.0595  0.8693  0.0530  0.0117  0.0012   0.0018
BB       0.0003  0.0014  0.0067  0.0773  0.8053  0.0884  0.0100   0.0106
B        0.0000  0.0011  0.0024  0.0043  0.0648  0.8346  0.0407   0.0521
CCC      0.0022  0.0000  0.0022  0.0130  0.0238  0.1124  0.6486   0.1978
default  0.0000  0.0000  0.0000  0.0000  0.0000  0.0000  0.0000   1.0000

In [54]:
TM = np.array(transition_df)

In [45]:
ratings = ['AAA','AA','A','BBB','BB','B','CCC']

transition= np.array([
    [90.81, 8.33, 0.68,0.06, 0.12, 0,0],
    [0.70,90.65,7.79,0.64,0.06,0.14,0.02],
    [0.09,2.27,91.05,5.52,0.74,0.26,0.01],
    [0.02,0.33,5.95,86.93,5.30,1.17,0.12],
    [0.03,0.14,0.67,7.73,80.53,8.84,1.00],
    [0,0.11,0.24,0.43,6.48,83.46,4.07],
    [0.22,0,0.22,1.30,2.38,11.24,64.86]]) / 100

print(sum(transition.transpose()))
transition_df = pd.DataFrame(transition, columns=ratings, index=ratings)
display(transition_df)

[1.     1.     0.9994 0.9982 0.9894 0.9479 0.8022]

        AAA      AA       A     BBB      BB       B     CCC
AAA  0.9081  0.0833  0.0068  0.0006  0.0012  0.0000  0.0000
AA   0.0070  0.9065  0.0779  0.0064  0.0006  0.0014  0.0002
A    0.0009  0.0227  0.9105  0.0552  0.0074  0.0026  0.0001
BBB  0.0002  0.0033  0.0595  0.8693  0.0530  0.0117  0.0012
BB   0.0003  0.0014  0.0067  0.0773  0.8053  0.0884  0.0100
B    0.0000  0.0011  0.0024  0.0043  0.0648  0.8346  0.0407
CCC  0.0022  0.0000  0.0022  0.0130  0.0238  0.1124  0.6486

## Absorbing Markov Chain

In [46]:
P = np.array(transition_df)
P.shape

(7, 7)

In [47]:
I = np.identity(len(P))
I.shape

(7, 7)

In [48]:
M = I - P
M.shape

(7, 7)

In [49]:
pd.DataFrame(M)

        0       1       2       3       4       5       6
0  0.0919 -0.0833 -0.0068 -0.0006 -0.0012  0.0000  0.0000
1 -0.0070  0.0935 -0.0779 -0.0064 -0.0006 -0.0014 -0.0002
2 -0.0009 -0.0227  0.0895 -0.0552 -0.0074 -0.0026 -0.0001
3 -0.0002 -0.0033 -0.0595  0.1307 -0.0530 -0.0117 -0.0012
4 -0.0003 -0.0014 -0.0067 -0.0773  0.1947 -0.0884 -0.0100
5  0.0000 -0.0011 -0.0024 -0.0043 -0.0648  0.1654 -0.0407
6 -0.0022  0.0000 -0.0022 -0.0130 -0.0238 -0.1124  0.3514

In [50]:
N = np.linalg.inv(M)

In [51]:
vector = np.ones(len(P))
vector

array([1., 1., 1., 1., 1., 1., 1.])

In [52]:
t = np.matmul(N, vector)
t

array([118.70330942, 109.30917154,  99.36484056,  85.57474477,
        63.62865341,  41.51065481,  24.96408982])

## Explain why this relationship between current rating and years to default makes or does not make sense.

#### I do not believe that this makes sense. This computation estimates that the mean number of years to default is 25 years. 

#### CCC = 19% Chance of Default Within One Year

#### Seems most would default within just a few years.

## Calculate an 18 Month Transition Matrix

#### Compute The One Year

In [57]:
OneYear = np.matmul(TM, TM)
pd.DataFrame(OneYear)

,0,1,2,3,4,5,6,7
0,0.825235,0.151314,0.018899,0.002068,0.002188,0.000247,0.000030,0.000018
1,0.012774,0.824117,0.141981,0.015724,0.002047,0.002790,0.000389,0.000177
2,0.001809,0.041516,0.834125,0.098975,0.015808,0.005880,0.000407,0.001479
3,0.000451,0.007315,0.106542,0.763151,0.089983,0.024915,0.002834,0.004809
4,0.000567,0.002926,0.016440,0.130336,0.658622,0.147015,0.018231,0.025863
5,0.000120,0.002075,0.005053,0.013004,0.107481,0.706918,0.061020,0.104329
6,0.003436,0.000433,0.004648,0.022179,0.042594,0.168973,0.425510,0.332226
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000

#### Compute The Six Month

In [58]:
from scipy.optimize import minimize

class split_transition_matrix():
    """compute the fractional transition matrix
    input the transition matrix, 
    the number of period into which the matrix is divded, 
    the function to minimize (usually least squares fit)
    """
    def __init__(self, transition_matrix, periods, fcn):
        self.m = transition_matrix
        self.p = periods
        self.t_vector = self.m.ravel()
        self.fcn = fcn

    def cumulate_matrix(self):
        self.t = np.reshape(self.t_vector, self.m.shape)
        self.t_cume = cumulate_transitions(self.t, self.p)

    def matrix_diff2(self, a, b):
        return sum(((a - b)*(a - b)).ravel())

    def matrix_vs_cume_diff2(self):
        self.cumulate_matrix()
        return self.matrix_diff2(self.m, self.t_cume)

    def matrix_min(self, t_vector):
        self.t_vector = self.fcn(t_vector)
        return self.matrix_vs_cume_diff2()
    
    def minimize(self):
        """
        compute the fractional multiple of the matrix by
        
        """
        self.res = minimize(self.matrix_min, self.m, method='Powell',tol=1e-10, options={'maxiter':100000})
        return self.res
        
    def get_sub_matrix(self):
        return np.reshape(self.fcn(self.res.x), self.m.shape)  
    
    def cumulate_sub_matrix(self):
        return pd.DataFrame(cumulate_transitions(self.get_sub_matrix(), self.p), index=ratings, columns=ratings)

def cumulate_transitions(t, p):
    """multiply the transition matrix p-times"""
    t_cume = t.copy()
    for i in range(p - 1):
        t_cume = t_cume.dot(t)
    return t_cume

def split_matrix(transition, ratings, periods, fcn):
    """create fractional matrix and display matrix and its fit to the original"""
    t_period = split_transition_matrix(transition, periods, fcn)
    res = t_period.minimize()
    print ('=' * 80)
    print("periods = ", t_period.p, "success = ", res.success, "function value = ",res.fun, 'message = ', res.message)
    display(pd.DataFrame(t_period.get_sub_matrix(), index=ratings, columns=ratings).round(5))
    cumulative_matrix = t_period.cumulate_sub_matrix()
    print("cumulative transition matrix")
    display(cumulative_matrix.round(5))
    print("deviation of cumulative from original transition matrix")
    display((t_period.m - cumulative_matrix).round(5))

    return t_period

In [59]:
def fcn2(x):
    """minimize the sum of squared values"""
    return pow(x, 2)

finalMatrix = split_matrix(OneYear, ratings, 6, fcn2)

C:\Users\steve\AppData\Local\Temp\ipykernel_5536\2661492707.py:35: DeprecationWarning: Use of `minimize` with `x0.ndim != 1` is deprecated. Currently, singleton dimensions will be removed from `x0`, but an error will be raised in SciPy 1.11.0.
  self.res = minimize(self.matrix_min, self.m, method='Powell',tol=1e-10, options={'maxiter':100000})

================================================================================
periods =  6 success =  True function value =  1.0467437780148546e-07 message =  Optimization terminated successfully.

,AAA,AA,A,BBB,BB,B,CCC,default
AAA,0.96830,0.02962,0.00157,0.00011,0.00043,0.00000,0.00000,0.00000
AA,0.00248,0.96750,0.02766,0.00173,0.00010,0.00047,0.00006,0.00000
A,0.00030,0.00804,0.96856,0.01983,0.00230,0.00079,0.00001,0.00017
BBB,0.00006,0.00100,0.02140,0.95333,0.01978,0.00362,0.00034,0.00047
BB,0.00010,0.00045,0.00178,0.02899,0.92881,0.03344,0.00350,0.00291
B,0.00000,0.00038,0.00079,0.00075,0.02456,0.93985,0.01655,0.01714
CCC,0.00086,0.00000,0.00069,0.00490,0.00847,0.04563,0.86468,0.07482
default,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000

cumulative transition matrix

,AAA,AA,A,BBB,BB,B,CCC,default
AAA,0.82524,0.15131,0.01890,0.00207,0.00217,0.00040,0.00005,0.00004
AA,0.01277,0.82412,0.14198,0.01572,0.00205,0.00277,0.00037,0.00028
A,0.00181,0.04152,0.83413,0.09898,0.01581,0.00588,0.00041,0.00147
BBB,0.00045,0.00731,0.10654,0.76315,0.08998,0.02492,0.00283,0.00481
BB,0.00056,0.00292,0.01644,0.13034,0.65862,0.14701,0.01823,0.02586
B,0.00021,0.00205,0.00505,0.01300,0.10748,0.70692,0.06102,0.10433
CCC,0.00341,0.00068,0.00464,0.02218,0.04259,0.16897,0.42551,0.33223
default,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000

deviation of cumulative from original transition matrix

             AAA       AA        A  BBB       BB        B      CCC  default
AAA     -0.00000  0.00000  0.00000  0.0  0.00001 -0.00015 -0.00002 -0.00002
AA       0.00000 -0.00000  0.00000 -0.0 -0.00000  0.00002  0.00002 -0.00010
A        0.00000  0.00000 -0.00000 -0.0 -0.00000 -0.00000 -0.00000  0.00001
BBB     -0.00000  0.00000 -0.00000 -0.0 -0.00000 -0.00000 -0.00000  0.00000
BB       0.00000  0.00000 -0.00000 -0.0 -0.00000  0.00000 -0.00000  0.00000
B       -0.00009  0.00003 -0.00000 -0.0 -0.00000 -0.00000  0.00000  0.00000
CCC      0.00003 -0.00025  0.00001  0.0  0.00000  0.00000 -0.00000  0.00000
default -0.00000 -0.00000 -0.00000 -0.0 -0.00000 -0.00000 -0.00000 -0.00000